body {     
    background-color: black; 
    color: white;
    text-align: center;
    margin-top: 50px; 
}

h1 {
    font-size: 60px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}


h5 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;

    .imdb-link {
    color: #ffcc00;
    text-decoration: underline;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: 0.3s;  
    }  
}
.profile-circle {
    border-radius: 50%;
    width: 600px;
    height: 400px;
    object-fit: cover;
    border: 4px solid #333;
    text-align: center;
} 


#Summary {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 20px;
}

#ActorList {
    list-style-type: square;
    display: inline-block;
    margin-top: 20px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: left;
    margin: 20px;
}